<footer class="footerHome" 
(dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <ul class="footerLink">
    <li class="footerLink__item">
      <a href="https://www.r-ac.co.jp/privacy/" target="_blank" class="anchor">▶個人情報保護方針</a>
    </li>
    <!---
    <li class="footerLink__item">
      <a href="https://www.r-ac.co.jp/company/quality/" target="_blank">品質方針</a>
    </li>
    <li class="footerLink__item">
      <a href="https://www.r-ac.co.jp/privacy/disclosure/" target="_blank">個人情報の開示等に関するお手続き</a>
    </li>
    --->
    <li class="footerLink__item">
      <a href="https://www.r-ac.co.jp/" target="_blank" class="anchor">▶運用会社</a>
    </li>
  </ul>
  <small class="footerHome__copyright">Copyright&copy; R&AC Co., Ltd. All Rights Reserved</small>
</footer>
