  <section
    [style.z-index]="zIndex"
    class="vModal--small"
    [formGroup]="myFormGroup">
    <h2 class="vModal__heading">パスワード変更
      <span class="vModal__close" (click)="close()"></span>
    </h2>
    <div class="vModal__contents--dialog">
      <div class="contents__container">
        <!--- 処理結果の表示 -->
        <app-parts-result-message [processCustomResult]="processModalCustomResult"></app-parts-result-message>
        <dl class="definitionForm mb--20 mt--20">
          <dt class="definitionForm__title w--37 align--right mb--15">ユーザーID</dt>
          <dd class="definitionForm__data w--63">
            <input
              formControlName="userCodeCtrl"
              name="userCodeCtrl"
              (keyup.enter)="setPassword($event.type, 'input')"
              maxlength="15"
              class="input-size--200">
          </dd>
          <dt class="definitionForm__title w--37 align--right mb--15">旧パスワード</dt>
          <dd class="definitionForm__data w--63">
            <input
              formControlName="oldPassWordCtrl"
              name="oldPassWordCtrl"
              (keyup.enter)="setPassword($event.type, 'input')"
              maxlength="15"
              type="password"
              class="input-size--200">
          </dd>
          <dt class="definitionForm__title w--37 align--right mb--15">新パスワード</dt>
          <dd class="definitionForm__data w--63">
            <input
              formControlName="passWordCtrl"
              name="passWordCtrl"
              (keyup.enter)="setPassword($event.type, 'input')"
              maxlength="15"
              type="password"
              class="input-size--200">
          </dd>
          <dt class="definitionForm__title w--37 align--right">新パスワード（確認）</dt>
          <dd class="definitionForm__data w--63">
            <input
              formControlName="passWordConfirmationCtrl"
              name="passWordConfirmationCtrl"
              (keyup.enter)="setPassword($event.type,'confirmation')"
              [ngClass]="{'input--error': passWordConfirmationCtrl.errors?.equalTo}"
              maxlength="15"
              type="password"
              class="input-size--200">
              <br>
              <div
                class="font__warning"
                *ngIf="passWordConfirmationCtrl.errors?.equalTo">
                {{ MSG_VAL.EQUAL_TO_PASSWORD }}
              </div>
          </dd>
        </dl>
        <hr class="separator">
        <div class="common-btn mb--20">
          <button (click)="update()" class="buttonSecondary"  [ngClass]="{'button-disable': myFormGroup.invalid}">{{ItemNameConst.BTN_UPDATE}}</button>
          <button (click)="cancel()" class="buttonMinimum mr--0">{{ItemNameConst.BTN_CANCEL}}</button>
        </div>
      </div>
    </div>
  </section>
<div class="modalBackdrop" [style.z-index]="zIndex-1"></div>