<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISectionMaster" />
                <binding name="BasicHttpBinding_IJuridicalPersonalityMaster" />
                <binding name="BasicHttpBinding_IImportFileLogService" />
                <binding name="BasicHttpBinding_IIgnoreKanaMaster" />
                <binding name="BasicHttpBinding_IEBExcludeAccountSettingMaster" />
                <binding name="BasicHttpBinding_ICustomerMaster" />
                <binding name="BasicHttpBinding_ICurrencyMaster" />
                <binding name="BasicHttpBinding_ICollationSettingMaster" />
                <binding name="BasicHttpBinding_ICategoryMaster" />
                <binding name="BasicHttpBinding_IBankAccountMaster" />
                <binding name="BasicHttpBinding_IApplicationControlMaster" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3061/Master/SectionMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISectionMaster" contract="SectionMasterService.ISectionMaster" name="BasicHttpBinding_ISectionMaster" />
            <endpoint address="http://localhost:3061/Master/JuridicalPersonalityMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJuridicalPersonalityMaster" contract="JuridicalPersonalityMasterService.IJuridicalPersonalityMaster" name="BasicHttpBinding_IJuridicalPersonalityMaster" />
            <endpoint address="http://localhost:3061/ImportFileLogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportFileLogService" contract="ImportFileLogService.IImportFileLogService" name="BasicHttpBinding_IImportFileLogService" />
            <endpoint address="http://localhost:3061/Master/IgnoreKanaMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIgnoreKanaMaster" contract="IgnoreKanaMasterService.IIgnoreKanaMaster" name="BasicHttpBinding_IIgnoreKanaMaster" />
            <endpoint address="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBExcludeAccountSettingMaster" contract="EBExcludeAccountSettingMasterService.IEBExcludeAccountSettingMaster" name="BasicHttpBinding_IEBExcludeAccountSettingMaster" />
            <endpoint address="http://localhost:3061/Master/CustomerMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerMaster" contract="CustomerMasterService.ICustomerMaster" name="BasicHttpBinding_ICustomerMaster" />
            <endpoint address="http://localhost:3061/Master/CurrencyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyMaster" contract="CurrencyMasterService.ICurrencyMaster" name="BasicHttpBinding_ICurrencyMaster" />
            <endpoint address="http://localhost:3061/Master/CollationSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollationSettingMaster" contract="CollationSettingMasterService.ICollationSettingMaster" name="BasicHttpBinding_ICollationSettingMaster" />
            <endpoint address="http://localhost:3061/Master/CategoryMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryMaster" contract="CategoryMasterService.ICategoryMaster" name="BasicHttpBinding_ICategoryMaster" />
            <endpoint address="http://localhost:3061/Master/BankAccountMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAccountMaster" contract="BankAccountMasterService.IBankAccountMaster" name="BasicHttpBinding_IBankAccountMaster" />
            <endpoint address="http://localhost:3061/Master/ApplicationControlMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationControlMaster" contract="ApplicationControlMasterService.IApplicationControlMaster" name="BasicHttpBinding_IApplicationControlMaster" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
