<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountTitleMaster" />
                <binding name="BasicHttpBinding_IAccountTransferService" />
                <binding name="BasicHttpBinding_IAdvanceReceivedBackupService" />
                <binding name="BasicHttpBinding_IApplicationControlMaster" />
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_IBankAccountMaster" />
                <binding name="BasicHttpBinding_IBankBranchMaster" />
                <binding name="BasicHttpBinding_IBillingAgingListService" />
                <binding name="BasicHttpBinding_IBillingBalanceService" />
                <binding name="BasicHttpBinding_IBillingDivisionContractMaster" />
                <binding name="BasicHttpBinding_IBillingDivisionSettingMaster" />
                <binding name="BasicHttpBinding_IBillingInvoiceService" />
                <binding name="BasicHttpBinding_ICategoryMaster" />
                <binding name="BasicHttpBinding_ICollationSettingMaster" />
                <binding name="BasicHttpBinding_ICollectionScheduleService" />
                <binding name="BasicHttpBinding_IColumnNameSettingMaster" />
                <binding name="BasicHttpBinding_ICompanyMaster" />
                <binding name="BasicHttpBinding_IControlColorMaster" />
                <binding name="BasicHttpBinding_ICreditAgingListService" />
                <binding name="BasicHttpBinding_ICurrencyMaster" />
                <binding name="BasicHttpBinding_ICustomerDiscountMaster" />
                <binding name="BasicHttpBinding_ICustomerFeeMaster" />
                <binding name="BasicHttpBinding_ICustomerGroupMaster" />
                <binding name="BasicHttpBinding_ICustomerLedgerService" />
                <binding name="BasicHttpBinding_ICustomerMaster" />
                <binding name="BasicHttpBinding_ICustomerPaymentContractMaster" />
                <binding name="BasicHttpBinding_IDataMaintenanceService" />
                <binding name="BasicHttpBinding_IDBService" />
                <binding name="BasicHttpBinding_IDepartmentMaster" />
                <binding name="BasicHttpBinding_IDestinationMaster" />
                <binding name="BasicHttpBinding_IEBExcludeAccountSettingMaster" />
                <binding name="BasicHttpBinding_IExportFieldSettingMaster" />
                <binding name="BasicHttpBinding_IFunctionAuthorityMaster" />
                <binding name="BasicHttpBinding_IGeneralSettingMaster" />
                <binding name="BasicHttpBinding_IGridSettingMaster" />
                <binding name="BasicHttpBinding_IHatarakuDBJournalizingService" />
                <binding name="BasicHttpBinding_IHolidayCalendarMaster" />
                <binding name="BasicHttpBinding_IIgnoreKanaMaster" />
                <binding name="BasicHttpBinding_IImporterSettingService" />
                <binding name="BasicHttpBinding_IImportFileLogService" />
                <binding name="BasicHttpBinding_IImportSettingMaster" />
                <binding name="BasicHttpBinding_IInputControlMaster" />
                <binding name="BasicHttpBinding_IInvoiceSettingService" />
                <binding name="BasicHttpBinding_IJuridicalPersonalityMaster" />
                <binding name="BasicHttpBinding_IKanaHistoryCustomerMaster" />
                <binding name="BasicHttpBinding_IKanaHistoryPaymentAgencyMaster" />
                <binding name="BasicHttpBinding_ILogDataService" />
                <binding name="BasicHttpBinding_ILoginUserLicenseMaster" />
                <binding name="BasicHttpBinding_ILoginUserMaster" />
                <binding name="BasicHttpBinding_ILoginUserPasswordMaster" />
                <binding name="BasicHttpBinding_IMatchingHistoryService" />
                <binding name="BasicHttpBinding_IMatchingService" />
                <binding name="BasicHttpBinding_IMenuAuthorityMaster" />
                <binding name="BasicHttpBinding_INettingService" />
                <binding name="BasicHttpBinding_IPasswordPolicyMaster" />
                <binding name="BasicHttpBinding_IPaymentAgencyFeeMaster" />
                <binding name="BasicHttpBinding_IPaymentAgencyMaster" />
                <binding name="BasicHttpBinding_IPeriodicBillingSettingMaster" />
                <binding name="BasicHttpBinding_IPeriodicBillingService" />
                <binding name="BasicHttpBinding_IReceiptExcludeService" />
                <binding name="BasicHttpBinding_IReceiptHeaderService" />
                <binding name="BasicHttpBinding_IReceiptMemoService" />
                <binding name="BasicHttpBinding_IReminderService" />
                <binding name="BasicHttpBinding_IReminderSettingService" />
                <binding name="BasicHttpBinding_IReportService" />
                <binding name="BasicHttpBinding_IReportSettingMaster" />
                <binding name="BasicHttpBinding_ISectionMaster" />
                <binding name="BasicHttpBinding_ISectionWithDepartmentMaster" />
                <binding name="BasicHttpBinding_ISectionWithLoginUserMaster" />
                <binding name="BasicHttpBinding_ISessionService" />
                <binding name="BasicHttpBinding_ISettingMaster" />
                <binding name="BasicHttpBinding_IStaffMaster" />
                <binding name="BasicHttpBinding_IStatusMaster" />
                <binding name="BasicHttpBinding_ITaskScheduleHistoryService" />
                <binding name="BasicHttpBinding_ITaskScheduleMaster" />
                <binding name="BasicHttpBinding_ITaxClassMaster" />
                <binding name="BasicHttpBinding_IWebApiSettingMaster" />
                <binding name="BasicHttpBinding_IBankAccountTypeMaster" />
                <binding name="BasicHttpBinding_IEBFormatMaster" />
                <binding name="BasicHttpBinding_IEBFileSettingMaster" />
                <binding name="BasicHttpBinding_IBillingService" />
                <binding name="BasicHttpBinding_IReceiptService" />
                <binding name="BasicHttpBinding_IMFBillingMaster" />
                <binding name="BasicHttpBinding_IMFBillingMaster1" />
                <binding name="BasicHttpBinding_IMFBillingMaster2" />
                <binding name="BasicHttpBinding_IMFBillingService" />
                <binding name="BasicHttpBinding_IPdfOutputSettingMaster" />
                <binding name="BasicHttpBinding_IClosingService" />
                <binding name="BasicHttpBinding_IClosingSettingMaster" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3061/Master/AccountTitleMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountTitleMaster" contract="AccountTitleMasterService.IAccountTitleMaster" name="BasicHttpBinding_IAccountTitleMaster" />
            <endpoint address="http://localhost:3061/AccountTransferService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountTransferService" contract="AccountTransferService.IAccountTransferService" name="BasicHttpBinding_IAccountTransferService" />
            <endpoint address="http://localhost:3061/AdvanceReceivedBackupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdvanceReceivedBackupService" contract="AdvanceReceivedBackupService.IAdvanceReceivedBackupService" name="BasicHttpBinding_IAdvanceReceivedBackupService" />
            <endpoint address="http://localhost:3061/Master/ApplicationControlMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationControlMaster" contract="ApplicationControlMasterService.IApplicationControlMaster" name="BasicHttpBinding_IApplicationControlMaster" />
            <endpoint address="http://localhost:3061/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication" contract="AuthenticationService.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:3061/Master/BankAccountMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAccountMaster" contract="BankAccountMasterService.IBankAccountMaster" name="BasicHttpBinding_IBankAccountMaster" />
            <endpoint address="http://localhost:3061/Master/BankBranchMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankBranchMaster" contract="BankBranchMasterService.IBankBranchMaster" name="BasicHttpBinding_IBankBranchMaster" />
            <endpoint address="http://localhost:3061/BillingAgingListService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingAgingListService" contract="BillingAgingListService.IBillingAgingListService" name="BasicHttpBinding_IBillingAgingListService" />
            <endpoint address="http://localhost:3061/BillingBalanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingBalanceService" contract="BillingBalanceService.IBillingBalanceService" name="BasicHttpBinding_IBillingBalanceService" />
            <endpoint address="http://localhost:3061/Master/BillingDivisionContractMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingDivisionContractMaster" contract="BillingDivisionContractMasterService.IBillingDivisionContractMaster" name="BasicHttpBinding_IBillingDivisionContractMaster" />
            <endpoint address="http://localhost:3061/Master/BillingDivisionSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingDivisionSettingMaster" contract="BillingDivisionSettingMasterService.IBillingDivisionSettingMaster" name="BasicHttpBinding_IBillingDivisionSettingMaster" />
            <endpoint address="http://localhost:3061/BillingInvoiceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingInvoiceService" contract="BillingInvoiceService.IBillingInvoiceService" name="BasicHttpBinding_IBillingInvoiceService" />
            <endpoint address="http://localhost:3061/Master/CategoryMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryMaster" contract="CategoryMasterService.ICategoryMaster" name="BasicHttpBinding_ICategoryMaster" />
            <endpoint address="http://localhost:3061/Master/CollationSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollationSettingMaster" contract="CollationSettingMasterService.ICollationSettingMaster" name="BasicHttpBinding_ICollationSettingMaster" />
            <endpoint address="http://localhost:3061/CollectionScheduleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollectionScheduleService" contract="CollectionScheduleService.ICollectionScheduleService" name="BasicHttpBinding_ICollectionScheduleService" />
            <endpoint address="http://localhost:3061/Master/ColumnNameSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColumnNameSettingMaster" contract="ColumnNameSettingMasterService.IColumnNameSettingMaster" name="BasicHttpBinding_IColumnNameSettingMaster" />
            <endpoint address="http://localhost:3061/Master/CompanyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyMaster" contract="CompanyMasterService.ICompanyMaster" name="BasicHttpBinding_ICompanyMaster" />
            <endpoint address="http://localhost:3061/Master/ControlColorMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControlColorMaster" contract="ControlColorMasterService.IControlColorMaster" name="BasicHttpBinding_IControlColorMaster" />
            <endpoint address="http://localhost:3061/CreditAgingListService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditAgingListService" contract="CreditAgingListService.ICreditAgingListService" name="BasicHttpBinding_ICreditAgingListService" />
            <endpoint address="http://localhost:3061/Master/CurrencyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyMaster" contract="CurrencyMasterService.ICurrencyMaster" name="BasicHttpBinding_ICurrencyMaster" />
            <endpoint address="http://localhost:3061/Master/CustomerDiscountMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerDiscountMaster" contract="CustomerDiscountMasterService.ICustomerDiscountMaster" name="BasicHttpBinding_ICustomerDiscountMaster" />
            <endpoint address="http://localhost:3061/Master/CustomerFeeMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerFeeMaster" contract="CustomerFeeMasterService.ICustomerFeeMaster" name="BasicHttpBinding_ICustomerFeeMaster" />
            <endpoint address="http://localhost:3061/Master/CustomerGroupMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerGroupMaster" contract="CustomerGroupMasterService.ICustomerGroupMaster" name="BasicHttpBinding_ICustomerGroupMaster" />
            <endpoint address="http://localhost:3061/CustomerLedgerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerLedgerService" contract="CustomerLedgerService.ICustomerLedgerService" name="BasicHttpBinding_ICustomerLedgerService" />
            <endpoint address="http://localhost:3061/Master/CustomerMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerMaster" contract="CustomerMasterService.ICustomerMaster" name="BasicHttpBinding_ICustomerMaster" />
            <endpoint address="http://localhost:3061/Master/CustomerPaymentContractMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerPaymentContractMaster" contract="CustomerPaymentContractMasterService.ICustomerPaymentContractMaster" name="BasicHttpBinding_ICustomerPaymentContractMaster" />
            <endpoint address="http://localhost:3061/DataMaintenanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataMaintenanceService" contract="DataMaintenanceService.IDataMaintenanceService" name="BasicHttpBinding_IDataMaintenanceService" />
            <endpoint address="http://localhost:3061/DBService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBService" contract="DBService.IDBService" name="BasicHttpBinding_IDBService" />
            <endpoint address="http://localhost:3061/Master/DepartmentMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentMaster" contract="DepartmentMasterService.IDepartmentMaster" name="BasicHttpBinding_IDepartmentMaster" />
            <endpoint address="http://localhost:3061/Master/DestinationMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDestinationMaster" contract="DestinationMasterService.IDestinationMaster" name="BasicHttpBinding_IDestinationMaster" />
            <endpoint address="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBExcludeAccountSettingMaster" contract="EBExcludeAccountSettingMasterService.IEBExcludeAccountSettingMaster" name="BasicHttpBinding_IEBExcludeAccountSettingMaster" />
            <endpoint address="http://localhost:3061/Master/ExportFieldSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExportFieldSettingMaster" contract="ExportFieldSettingMasterService.IExportFieldSettingMaster" name="BasicHttpBinding_IExportFieldSettingMaster" />
            <endpoint address="http://localhost:3061/Master/FunctionAuthorityMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunctionAuthorityMaster" contract="FunctionAuthorityMasterService.IFunctionAuthorityMaster" name="BasicHttpBinding_IFunctionAuthorityMaster" />
            <endpoint address="http://localhost:3061/Master/GeneralSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeneralSettingMaster" contract="GeneralSettingMasterService.IGeneralSettingMaster" name="BasicHttpBinding_IGeneralSettingMaster" />
            <endpoint address="http://localhost:3061/Master/GridSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGridSettingMaster" contract="GridSettingMasterService.IGridSettingMaster" name="BasicHttpBinding_IGridSettingMaster" />
            <endpoint address="http://localhost:3061/HatarakuDBJournalizingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHatarakuDBJournalizingService" contract="HatarakuDBJournalizingService.IHatarakuDBJournalizingService" name="BasicHttpBinding_IHatarakuDBJournalizingService" />
            <endpoint address="http://localhost:3061/Master/HolidayCalendarMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidayCalendarMaster" contract="HolidayCalendarMasterService.IHolidayCalendarMaster" name="BasicHttpBinding_IHolidayCalendarMaster" />
            <endpoint address="http://localhost:3061/Master/IgnoreKanaMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIgnoreKanaMaster" contract="IgnoreKanaMasterService.IIgnoreKanaMaster" name="BasicHttpBinding_IIgnoreKanaMaster" />
            <endpoint address="http://localhost:3061/ImporterSettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImporterSettingService" contract="ImporterSettingService.IImporterSettingService" name="BasicHttpBinding_IImporterSettingService" />
            <endpoint address="http://localhost:3061/ImportFileLogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportFileLogService" contract="ImportFileLogService.IImportFileLogService" name="BasicHttpBinding_IImportFileLogService" />
            <endpoint address="http://localhost:3061/Master/ImportSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportSettingMaster" contract="ImportSettingMasterService.IImportSettingMaster" name="BasicHttpBinding_IImportSettingMaster" />
            <endpoint address="http://localhost:3061/Master/InputControlMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInputControlMaster" contract="InputControlMasterService.IInputControlMaster" name="BasicHttpBinding_IInputControlMaster" />
            <endpoint address="http://localhost:3061/InvoiceSettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvoiceSettingService" contract="InvoiceSettingService.IInvoiceSettingService" name="BasicHttpBinding_IInvoiceSettingService" />
            <endpoint address="http://localhost:3061/Master/JuridicalPersonalityMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJuridicalPersonalityMaster" contract="JuridicalPersonalityMasterService.IJuridicalPersonalityMaster" name="BasicHttpBinding_IJuridicalPersonalityMaster" />
            <endpoint address="http://localhost:3061/Master/KanaHistoryCustomerMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKanaHistoryCustomerMaster" contract="KanaHistoryCustomerMasterService.IKanaHistoryCustomerMaster" name="BasicHttpBinding_IKanaHistoryCustomerMaster" />
            <endpoint address="http://localhost:3061/Master/KanaHistoryPaymentAgencyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKanaHistoryPaymentAgencyMaster" contract="KanaHistoryPaymentAgencyMasterService.IKanaHistoryPaymentAgencyMaster" name="BasicHttpBinding_IKanaHistoryPaymentAgencyMaster" />
            <endpoint address="http://localhost:3061/LogDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogDataService" contract="LogDataService.ILogDataService" name="BasicHttpBinding_ILogDataService" />
            <endpoint address="http://localhost:3061/Master/LoginUserLicenseMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginUserLicenseMaster" contract="LoginUserLicenseMasterService.ILoginUserLicenseMaster" name="BasicHttpBinding_ILoginUserLicenseMaster" />
            <endpoint address="http://localhost:3061/Master/LoginUserMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginUserMaster" contract="LoginUserMasterService.ILoginUserMaster" name="BasicHttpBinding_ILoginUserMaster" />
            <endpoint address="http://localhost:3061/Master/LoginUserPasswordMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginUserPasswordMaster" contract="LoginUserPasswordMasterService.ILoginUserPasswordMaster" name="BasicHttpBinding_ILoginUserPasswordMaster" />
            <endpoint address="http://localhost:3061/MatchingHistoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingHistoryService" contract="MatchingHistoryService.IMatchingHistoryService" name="BasicHttpBinding_IMatchingHistoryService" />
            <endpoint address="http://localhost:3061/MatchingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />
            <endpoint address="http://localhost:3061/Master/MenuAuthorityMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuAuthorityMaster" contract="MenuAuthorityMasterService.IMenuAuthorityMaster" name="BasicHttpBinding_IMenuAuthorityMaster" />
            <endpoint address="http://localhost:3061/NettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INettingService" contract="NettingService.INettingService" name="BasicHttpBinding_INettingService" />
            <endpoint address="http://localhost:3061/Master/PasswordPolicyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPasswordPolicyMaster" contract="PasswordPolicyMasterService.IPasswordPolicyMaster" name="BasicHttpBinding_IPasswordPolicyMaster" />
            <endpoint address="http://localhost:3061/Master/PaymentAgencyFeeMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentAgencyFeeMaster" contract="PaymentAgencyFeeMasterService.IPaymentAgencyFeeMaster" name="BasicHttpBinding_IPaymentAgencyFeeMaster" />
            <endpoint address="http://localhost:3061/Master/PaymentAgencyMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentAgencyMaster" contract="PaymentAgencyMasterService.IPaymentAgencyMaster" name="BasicHttpBinding_IPaymentAgencyMaster" />
            <endpoint address="http://localhost:3061/Master/PeriodicBillingSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeriodicBillingSettingMaster" contract="PeriodicBillingSettingMasterService.IPeriodicBillingSettingMaster" name="BasicHttpBinding_IPeriodicBillingSettingMaster" />
            <endpoint address="http://localhost:3061/PeriodicBillingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeriodicBillingService" contract="PeriodicBillingService.IPeriodicBillingService" name="BasicHttpBinding_IPeriodicBillingService" />
            <endpoint address="http://localhost:3061/ReceiptExcludeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptExcludeService" contract="ReceiptExcludeService.IReceiptExcludeService" name="BasicHttpBinding_IReceiptExcludeService" />
            <endpoint address="http://localhost:3061/ReceiptHeaderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptHeaderService" contract="ReceiptHeaderService.IReceiptHeaderService" name="BasicHttpBinding_IReceiptHeaderService" />
            <endpoint address="http://localhost:3061/ReceiptMemoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptMemoService" contract="ReceiptMemoService.IReceiptMemoService" name="BasicHttpBinding_IReceiptMemoService" />
            <endpoint address="http://localhost:3061/ReminderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReminderService" contract="ReminderService.IReminderService" name="BasicHttpBinding_IReminderService" />
            <endpoint address="http://localhost:3061/ReminderSettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReminderSettingService" contract="ReminderSettingService.IReminderSettingService" name="BasicHttpBinding_IReminderSettingService" />
            <endpoint address="http://localhost:3061/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="ReportService.IReportService" name="BasicHttpBinding_IReportService" />
            <endpoint address="http://localhost:3061/Master/ReportSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportSettingMaster" contract="ReportSettingMasterService.IReportSettingMaster" name="BasicHttpBinding_IReportSettingMaster" />
            <endpoint address="http://localhost:3061/Master/SectionMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISectionMaster" contract="SectionMasterService.ISectionMaster" name="BasicHttpBinding_ISectionMaster" />
            <endpoint address="http://localhost:3061/Master/SectionWithDepartmentMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISectionWithDepartmentMaster" contract="SectionWithDepartmentMasterService.ISectionWithDepartmentMaster" name="BasicHttpBinding_ISectionWithDepartmentMaster" />
            <endpoint address="http://localhost:3061/Master/SectionWithLoginUserMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISectionWithLoginUserMaster" contract="SectionWithLoginUserMasterService.ISectionWithLoginUserMaster" name="BasicHttpBinding_ISectionWithLoginUserMaster" />
            <endpoint address="http://localhost:3061/SessionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService" contract="SessionService.ISessionService" name="BasicHttpBinding_ISessionService" />
            <endpoint address="http://localhost:3061/Master/SettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingMaster" contract="SettingMasterService.ISettingMaster" name="BasicHttpBinding_ISettingMaster" />
            <endpoint address="http://localhost:3061/Master/StaffMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaffMaster" contract="StaffMasterService.IStaffMaster" name="BasicHttpBinding_IStaffMaster" />
            <endpoint address="http://localhost:3061/Master/StatusMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatusMaster" contract="StatusMasterService.IStatusMaster" name="BasicHttpBinding_IStatusMaster" />
            <endpoint address="http://localhost:3061/TaskScheduleHistoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskScheduleHistoryService" contract="TaskScheduleHistoryService.ITaskScheduleHistoryService" name="BasicHttpBinding_ITaskScheduleHistoryService" />
            <endpoint address="http://localhost:3061/Master/TaskScheduleMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskScheduleMaster" contract="TaskScheduleMasterService.ITaskScheduleMaster" name="BasicHttpBinding_ITaskScheduleMaster" />
            <endpoint address="http://localhost:3061/Master/TaxClassMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaxClassMaster" contract="TaxClassMasterService.ITaxClassMaster" name="BasicHttpBinding_ITaxClassMaster" />
            <endpoint address="http://localhost:3061/Master/WebApiSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebApiSettingMaster" contract="WebApiSettingMasterService.IWebApiSettingMaster" name="BasicHttpBinding_IWebApiSettingMaster" />
            <endpoint address="http://localhost:3061/Master/BankAccountTypeMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAccountTypeMaster" contract="BankAccountTypeMasterService.IBankAccountTypeMaster" name="BasicHttpBinding_IBankAccountTypeMaster" />
            <endpoint address="http://localhost:3061/Master/EBFormatMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBFormatMaster" contract="EBFormatMasterService.IEBFormatMaster" name="BasicHttpBinding_IEBFormatMaster" />
            <endpoint address="http://localhost:3061/Master/EBFileSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBFileSettingMaster" contract="EBFileSettingMasterService.IEBFileSettingMaster" name="BasicHttpBinding_IEBFileSettingMaster" />
            <endpoint address="http://localhost:3061/BillingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingService" contract="BillingService.IBillingService" name="BasicHttpBinding_IBillingService" />
            <endpoint address="http://localhost:3061/ReceiptService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptService" contract="ReceiptService.IReceiptService" name="BasicHttpBinding_IReceiptService" />
            <endpoint address="http://localhost:3061/Master/MFBillingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMFBillingMaster" contract="ServiceReferences.IMFBillingMaster" name="BasicHttpBinding_IMFBillingMaster" />
            <endpoint address="http://localhost:3061/Master/MFBillingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMFBillingMaster1" contract="Rac.VOne.Client.Screen.MFBillingMasterService.IMFBillingMaster" name="BasicHttpBinding_IMFBillingMaster1" />
            <endpoint address="http://localhost:3061/Master/MFBillingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMFBillingMaster2" contract="ServiceReference1.IMFBillingMaster" name="BasicHttpBinding_IMFBillingMaster2" />
            <endpoint address="http://localhost:3061/MFBillingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMFBillingService" contract="MFBillingService.IMFBillingService" name="BasicHttpBinding_IMFBillingService" />
            <endpoint address="http://localhost:3061/Master/PdfOutputSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPdfOutputSettingMaster" contract="PdfOutputSettingMasterService.IPdfOutputSettingMaster" name="BasicHttpBinding_IPdfOutputSettingMaster" />
            <endpoint address="http://localhost:3061/ClosingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClosingService" contract="ClosingService.IClosingService" name="BasicHttpBinding_IClosingService" />
            <endpoint address="http://localhost:3061/Master/ClosingSettingMaster.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClosingSettingMaster" contract="ClosingSettingMasterService.IClosingSettingMaster" name="BasicHttpBinding_IClosingSettingMaster" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>