<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li>
    <a routerLink="/material/autocomplete" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">AutoComplete</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/material/date-picker" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">DatePicker</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/material/acordion" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">Acordion</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/material/sort-header" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">SortHeader</a>
  </li>
</ul>


<!---
<ul>
    <li>
        <a routerLink="/validation/ng-form-validator" routerLinkActive="current" 
                    [routerLinkActiveOptions]="{ exact: true }">Validation(ng-form-validator)</a>
    </li>
</ul>
-->
<ul>
  <li>
    <a routerLink="/validation/ng5-validation" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">Validation(ng5-validation)</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/input/input-controller" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">入力制限</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/json/parse" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">パース</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/model/setter-getter" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">setter-getter</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/login/auth-page" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">auth-page</a>
  </li>
</ul>

<router-outlet></router-outlet>