// リスト
// 
// 

@mixin listitemSetting($marginBottom:8px) {
  margin-bottom: $marginBottom;
  &:last-child {
    margin-bottom: 0;
  }
}

// リスト：通常
  .listNote {
    &__item {
      @include listitemSetting();
      padding-left: 1rem;
      text-indent: -.5rem;
      line-height: 1.4;
      .listNote {
        margin: 4px 0 0 4px;
      }
    }
  }


// リスト：チェックボックス用
  .listCheckbox,.checkboxList {
    &__item {
      @include listitemSetting(10px);
      .listCheckbox,.checkboxList {
        margin: 10px 0 0 24px;
      }
    }
  }