<div [formGroup]="myFormGroup">
  <section class="contentsButton">
    <div class="contentsButton__inner">

      <!--- 処理結果の表示 -->
      <app-parts-result-message [processCustomResult]="processCustomResult"></app-parts-result-message>

      <button
        (click)="buttonAction(BUTTON_ACTION.REGISTRY)"
        class="buttonSecondary">{{ItemNameConst.BTN_REGISTRY}}</button>

      <div class="contentsButton__subSection">
        <ul class="separator">
          <li class="separator__item">
            <button
              (click)="openEbFileSettingModal()"
              class="buttonPrimary">{{ItemNameConst.BTN_REGISTRY_NEW}}</button>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="pageContainer">
    <!-- 登録済みのEBファイル設定 -->
    <section class="contents">
      <h2 class="contents__title--underline-slim">{{ItemNameConst.LBL_REGISTER_EB_FILE_SETTING}}</h2>
      <div class="contents__container">
      <div class="common-inner-table">
        <table>
          <thead>
            <tr>
              <th class="{{TableColumn.COL_50_CODE}}">No</th>
              <th class="{{TableColumn.COL_50_CODE}}">使用</th>
              <th class="{{TableColumn.COL_50_CODE}}">修正</th>
              <th class="{{TableColumn.COL_400_CODE}}">EBファイル設定名</th>
              <th class="{{TableColumn.COL_200_CODE}}">区切文字</th>
              <th class="{{TableColumn.COL_100_CODE}}">銀行コード</th>
              <th class="{{TableColumn.COL_200_CODE}}">取込区分</th>
            </tr>
          </thead>
          <tbody class="searchResult__tableHeight--9999">
            <tr
              *ngFor="let eBFileSetting of ebFileSettingResult?.eBFileSettings; let i = index"
              (dblclick)="openEbFileSettingModal(i)"
              class="line-selector">
              <td class="{{TableColumn.COL_50_CENTER_NAME}}">{{ i + 1 }}</td>
              <td class="{{TableColumn.COL_50_CENTER_NAME}}">
                <div class="inputStyled--inTable">
                  <input
                    id="chkDoUseCtrl{{i}}"
                    class="inputStyled__input"
                    formControlName="chkDoUseCtrl{{i}}"
                    name="chkDoUseCtrl{{i}}"
                    type="checkbox">
                  <label
                    class="inputStyled__checkbox"
                    for="chkDoUseCtrl{{i}}"></label>
                </div>
              </td>
              <td class="col-size--50 col-align-center">
                <a class="buttonEdit" (click)="openEbFileSettingModal(i)"></a>
              </td>
              <td class="{{TableColumn.COL_400_NAME}}">{{eBFileSetting.name}}</td>
              <td class="{{TableColumn.COL_200_NAME}}">{{fileFieldTypeNames[eBFileSetting.fileFieldType].val}}</td>
              <td class="{{TableColumn.COL_100_CENTER_NAME}}">{{eBFileSetting.bankCode}}</td>
              <td class="{{TableColumn.COL_200_NAME}}">{{eBFileSetting.importableValues}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </section>

  </section>

</div>