<div [formGroup]="myFormGroup">
  <section class="contentsButton">
    <div class="contentsButton__inner">

      <!--- 処理結果の表示 -->
      <app-parts-result-message [processCustomResult]="processCustomResult"></app-parts-result-message>
      <button
        (click)="buttonAction(BUTTON_ACTION.REGISTRY)"
        [ngClass]="{'button-disable': myFormGroup.invalid}"
        class="buttonSecondary">{{ItemNameConst.BTN_REGISTRY}}</button>
      <button
        (click)="clear();processResultService.clearProcessCustomMsg(processCustomResult)"
        class="buttonMinimum ">{{ItemNameConst.BTN_CLEAR}}</button>
        
      <div class="contentsButton__subSection">
        <ng-container *ngIf="securityHideShow">
          <ng-container *ngIf="userInfoService.isFunctionAvailable(FunctionType.MasterImport)">
            <button class="buttonImport infotip"
              (click)="buttonAction(BUTTON_ACTION.IMPORT)">
              <span [innerHtml]="ButtonTipsConst.CSV_IMPORT | safeHtml_pipe" class="infotip__frame"></span>
            </button>
          </ng-container>
          <ng-container *ngIf="userInfoService.isFunctionAvailable(FunctionType.MasterExport)">
            <button class="buttonExport infotip"
              (click)="buttonAction(BUTTON_ACTION.EXPORT)">
              <span [innerHtml]="ButtonTipsConst.CSV_EXPORT | safeHtml_pipe" class="infotip__frame"></span>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>

  </section>

  <section class="pageContainer">
    <!-- 入力フォーム -->
    <section class="contents">
      <div class="contents__container">
        <dl class="definitionForm">
          <dt class="definitionForm__title">債権代表者コード<span class="must_have_icon">{{ItemNameConst.LBL_REQUIRED}}</span></dt>
          <dd class="definitionForm__data">
            <input
              formControlName="parentCustomerCodeCtrl"
              name="parentCustomerCodeCtrl"
              (keyup.enter)="setParentCustomerCode($event.type)"
              (blur)="setParentCustomerCode($event.type)"
              #parentCustomerCodeInput
              [formControl]="parentCustomerCodeCtrl"
              [matAutocomplete]="autoParentCustomerCode"
              maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
              placeholder="{{PlaceHolderConst.F9_SEARCH}}"
              class="input-size--100"/>
            <mat-autocomplete
              #autoParentCustomerCode="matAutocomplete"
              [panelWidth]="PanelConst.autocompleteWidth300">
              <mat-option
                *ngFor="let parentCustomer of parentCustomerFilterds[0] | async"
                [value]="parentCustomer.code">
                {{parentCustomer.code}}:{{parentCustomer.name}}
              </mat-option>
            </mat-autocomplete>
            <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_PARENT_CUSTOMER)"></a>
          </dd>
          <dt class="definitionForm__title">債権代表者ｶﾅ</dt>
          <dd class="definitionForm__data">
            <input
              formControlName="parentCustomerNameCtrl"
              name="parentCustomerNameCtrl"
              class="input-size--400"
              readonly>
          </dd>
        </dl>
      </div>
    </section>

    <!-- 得意先 -->
    <section class="contents">
      <div class="contents__container">
        <div class="horizontal-container">
          <div class="horizontal-container__box">
            <h3 class="contents__title">{{ItemNameConst.LBL_CHANGE_CUSTOMER_BEFORE}}</h3>
            <div class="common-inner-table">
              <table>
                <thead>
                  <tr>
                    <th class="{{TableColumn.COL_50_CODE}}"></th>
                    <th class="{{TableColumn.COL_150_CODE}}">得意先コード</th>
                    <th class="{{TableColumn.COL_250_CODE}}">得意先名</th>
                  </tr>
                </thead>
                <tbody class="height--350">
                  <tr
                    class="line-selector"
                    *ngFor="let customer of beforeCustomersResult?.customerGroups; let i = index">
                    <th class="{{TableColumn.COL_50_CENTER_NAME}}">{{ i + 1 }}</th>
                    <td class="{{TableColumn.COL_150_CENTER_NAME}}">{{customer.childCustomerCode}}</td>
                    <td class="{{TableColumn.COL_250_NAME}}">{{customer.childCustomerName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="horizontal-container__separater">
            <span class="figure--right-arrow"></span>
          </div>
          <div class="horizontal-container__box">
            <h3 class="contents__title">{{ItemNameConst.LBL_CHANGE_CUSTOMER_AFTER}}</h3>
            <div class="common-inner-table">
              <table>
                <thead>
                  <tr>
                    <th class="{{TableColumn.COL_50_CODE}}"></th>
                    <th class="{{TableColumn.COL_100_CODE}}"></th>
                    <th class="{{TableColumn.COL_150_CODE}}">得意先コード</th>
                    <th class="{{TableColumn.COL_250_CODE}}">得意先名</th>
                  </tr>
                </thead>
                <tbody class="height--350">
                  <tr
                    class="line-selector"
                    *ngFor="let customer of afterCustomersResult?.customers; let i = index"
                    name="afterCustomerTr">
                    <th class="{{TableColumn.COL_50_CENTER_NAME}}">{{ i + 1 }}</th>
                    <td class="{{TableColumn.COL_100_CENTER_NAME}}">
                      <button
                        class="buttonMinimum"
                        (click)="selectDeleteLine(i)">
                        {{ItemNameConst.BTN_DELETE}}</button>
                    </td>
                    <td class="{{TableColumn.COL_150_CENTER_NAME}}">{{customer.code}}</td>
                    <td class="{{TableColumn.COL_250_NAME}}">{{customer.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="contents__container">
        <div class="contents__item--w-50 mb--20">
          <dl class="definitionForm">
            <dt class="definitionForm__title w--14">得意先コード</dt>
            <dd class="definitionForm__data w--86">
              <input
                formControlName="customerCodeFromCtrl"
                name="customerCodeFromCtrl"
                (keyup.enter)="setCustomerCode($event.type, 'from')"
                (blur)="setCustomerCode($event.type, 'from')"
                #customerCodeFromInput
                [formControl]="customerCodeFromCtrl"
                [matAutocomplete]="autoCustomerCodeFrom"
                maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                class="input-size--100 definitionForm__input">
              <mat-autocomplete
                #autoCustomerCodeFrom="matAutocomplete"
                [panelWidth]="PanelConst.autocompleteWidth300">
                <mat-option
                  *ngFor="let customer of freeCustomerFilterds[0] | async"
                  [value]="customer.code">
                  {{customer.code}}:{{customer.name}}
                </mat-option>
              </mat-autocomplete>
              <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER_PARENT, 'from')"></a>
              <input
                formControlName="customerNameFromCtrl"
                name="customerNameFromCtrl"
                class="input-size--300"
                readonly>
            </dd>
            <dt class="definitionForm__title w--14"><span class="end-checkbox"></span></dt>
            <dd class="definitionForm__data w--86">
              <input
                formControlName="customerCodeToCtrl"
                name="customerCodeToCtrl"
                (keyup.enter)="setCustomerCode($event.type, 'to')"
                (blur)="setCustomerCode($event.type, 'to')"
                #customerCodeToInput
                [formControl]="customerCodeToCtrl"
                [matAutocomplete]="autoCustomerCodeTo"
                maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                class="input-size--100 definitionForm__input">
              <mat-autocomplete
                #autoCustomerCodeTo="matAutocomplete"
                [panelWidth]="PanelConst.autocompleteWidth300">
                <mat-option
                  *ngFor="let customer of freeCustomerFilterds[1] | async"
                  [value]="customer.code">
                  {{customer.code}}:{{customer.name}}
                </mat-option>
              </mat-autocomplete>
              <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER_PARENT, 'to')"></a>
              <input
                formControlName="customerNameToCtrl"
                name="customerNameToCtrl"
                class="input-size--300"
                readonly>
            </dd>
          </dl>
        </div>
        <div class="contentsButton__inner">
          <button
            (click)="add()"
            [ngClass]="{'button-disable': isAddButton}"
            class="buttonMinimum">{{ItemNameConst.BTN_ADD}}</button>
          <button
            (click)="allDelete()"
            [ngClass]="{'button-disable': UpdateButtonDisableFlag}"
            class="buttonMinimum infotip">{{ItemNameConst.BTN_BULK_DELETE}}
            <span
              [innerHtml]="ButtonTipsConst.BULK_DELETE_CUSTOMER | safeHtml_pipe"
              class="infotip__frame"></span>
          </button>
        </div>
      </div>
    </section>

  </section>
    
</div>