<section 
  [style.z-index]="zIndex"
  class="vModal--dialogMinimum">
  <h2 class="vModal__heading">確認 【{{actionName}}】
    <span class="vModal__close"
      (click)="close()"></span>
  </h2>
  <div class="vModal__contents--dialog">
    <div class="contents__container">
      <p *ngIf="!StringUtil.IsNullOrEmpty(prefixDetail)">{{prefixDetail}}</p>
      <p class="align--center">{{actionName}}を<br>実行してよろしいですか？</p>
      <p *ngIf="!StringUtil.IsNullOrEmpty(sufixDetail)">{{sufixDetail}}</p>
      <hr class="separator mt--20">
      <div class="common-btn mb--20">
        <button (click)="ok()" class="buttonSecondary">{{ItemNameConst.BTN_DO}}</button>
        <button
          (click)="cancel()"
          class="buttonMinimum mr--0">{{ItemNameConst.BTN_CANCEL}}</button>
      </div>
    </div>
  </div>
</section>
<div class="modalBackdrop" [style.z-index]="zIndex-1"></div>