<div [formGroup]="myFormGroup" class="billing-due-at-modify">  
  <section class="contentsButton">
    <div class="contentsButton__inner">

      <!--- 処理結果の表示 -->
      <app-parts-result-message [processCustomResult]="processCustomResult"></app-parts-result-message>

      <button 
        (click)="buttonAction(BUTTON_ACTION.UPDATE)" 
        [ngClass]="{'button-disable': updateBtnFlg || myFormGroup.invalid }" 
        class="buttonSecondary">
        {{ItemNameConst.BTN_UPDATE}}
      </button>
      <button 
        (click)="panelOpenState=!panelOpenState;panelOpenState?panel.open():panel.close();"
        class="buttonPrimary">{{panelOpenState?ItemNameConst.BTN_SEARCH_HIDE:ItemNameConst.BTN_SEARCH_ADD}}</button>
    </div>
  </section>  

  <section class="pageContainer">

    <mat-expansion-panel
      #panel
      [hideToggle]="true">
      <ng-template matExpansionPanelContent>
        <section [ngClass]="!panelOpenState ? 'contents--hidden' : 'contents--visible'">
          <h2 class="contents__title--underline">
            {{ItemNameConst.LBL_SEARCH_CONDITION}}
          </h2>
          <div class="accordionContent__body contents__container--flex">
            <div class="contents__item--w-45">
              <dl class="definitionForm--lh-narrow">
                <dt class="definitionForm__title w--15">請求日</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="billedAtFromCtrl"
                    name="billedAtFromCtrl"
                    (keyup.enter)="setBilledAtFrom($event.type)"
                    (dateSelect)="setBilledAtFrom($event.type)"
                    ngbDatepicker #billedAtFromDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': billedAtFromCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="billedAtFromDp.toggle()" type="button"></button>
                  <span class="wavy-line"></span>
                  <input
                    formControlName="billedAtToCtrl"
                    name="billedAtToCtrl"
                    (keyup.enter)="setBilledAtTo($event.type)"
                    (dateSelect)="setBilledAtTo($event.type)"
                    ngbDatepicker #billedAtToDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': billedAtToCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="billedAtToDp.toggle()" type="button"></button>
                    <br>
                    <div
                      class="message-result font__warning"
                      *ngIf="billedAtFromCtrl.errors?.ngbDate 
                            || billedAtToCtrl.errors?.ngbDate">
                      {{ MSG_VAL.DATE_DAY }}
                    </div>
                </dd>
                <dt class="definitionForm__title w--15">請求締日</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="closingAtFromCtrl"
                    name="closingAtFromCtrl"
                    (keyup.enter)="setClosingAtFrom($event.type)"
                    (dateSelect)="setClosingAtFrom($event.type)"
                    ngbDatepicker #closingAtFromDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': closingAtFromCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="closingAtFromDp.toggle()" type="button"></button>
                  <span class="wavy-line"></span>
                  <input
                    formControlName="closingAtToCtrl"
                    name="closingAtToCtrl"
                    (keyup.enter)="setClosingAtTo($event.type)"
                    (dateSelect)="setClosingAtTo($event.type)"
                    ngbDatepicker #closingAtToDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': closingAtToCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="closingAtToDp.toggle()" type="button"></button>
                    <br>
                    <div
                      class="message-result font__warning"
                      *ngIf="closingAtFromCtrl.errors?.ngbDate 
                            || closingAtToCtrl.errors?.ngbDate">
                      {{ MSG_VAL.DATE_DAY }}
                    </div>
                </dd>
                <dt class="definitionForm__title w--15">入金予定日</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="dueAtFromCtrl"
                    name="dueAtFromCtrl"
                    (keyup.enter)="setDueAtFrom($event.type)"
                    (dateSelect)="setDueAtFrom($event.type)"
                    ngbDatepicker #dueAtFromDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': dueAtFromCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="dueAtFromDp.toggle()" type="button"></button>
                  <span class="wavy-line"></span>
                  <input
                    formControlName="dueAtToCtrl"
                    name="dueAtToCtrl"
                    (keyup.enter)="setDueAtTo($event.type)"
                    (dateSelect)="setDueAtTo($event.type)"
                    ngbDatepicker #dueAtToDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    [ngClass]="{'input--error': dueAtToCtrl.errors?.ngbDate}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                    <button class="btn btn-outline-secondary" (click)="dueAtToDp.toggle()" type="button"></button>
                    <br>
                    <div
                      class="message-result font__warning"
                      *ngIf="dueAtFromCtrl.errors?.ngbDate 
                            || dueAtToCtrl.errors?.ngbDate">
                      {{ MSG_VAL.DATE_DAY }}
                    </div>
                </dd>
                <dt class="definitionForm__title w--15">請求書番号</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="invoiceCodeFromCtrl"
                    name="invoiceCodeFromCtrl"
                    (keyup.enter)="setInvoiceCodeFrom($event.type)"
                    maxlength="20"
                    class="input-size--200">
                  <span class="wavy-line"></span>
                  <input
                    formControlName="invoiceCodeToCtrl"
                    name="invoiceCodeToCtrl"
                    (keyup.enter)="setInvoiceCodeTo($event.type)"
                    maxlength="20"
                    class="input-size--200">
                </dd>
                <dt class="definitionForm__title w--15">請求書番号</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="invoiceCodeCtrl"
                    name="invoiceCodeCtrl"
                    (keyup.enter)="setInvoiceCode($event.type)"
                    maxlength="20"
                    class="input-size--200">
                </dd>
                <ng-container *ngIf="userInfoService.ApplicationControl?.useForeignCurrency==1;else elseContent">
                  <dt class="definitionForm__title w--15">通貨コード</dt>
                  <dd class="definitionForm__data">
                    <input
                      formControlName="currencyCodeCtrl"
                      name="currencyCodeCtrl"
                      (blur)="setCurrencyCode($event.type)"
                      (keyup.enter)="setCurrencyCode($event.type)"
                      type="tel"
                      maxlength="3"
                      placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                      class="input-size--60">
                    <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CURRENCY,'')"></a>
                    <ng-container *ngIf="userInfoService.ApplicationControl?.useReceiptSection==1">
                      <label class="labelWrap">
                        <div class="inputStyled">
                          <input class="inputStyled__input"
                            id="cbxUseReceiptSectionCtrl" 
                            formControlName="cbxUseReceiptSectionCtrl" 
                            name="cbxUseReceiptSectionCtrl" 
                            (change)="setCbxUseReceiptSection($event.type)"
                            type="checkbox">
                          <label class="inputStyled__checkbox" for="cbxUseReceiptSectionCtrl">入金部門対応マスターを使用</label>
                        </div>
                      </label>
                    </ng-container>
                  </dd>
                </ng-container>
                <ng-template #elseContent>
                  <dt>&nbsp;</dt>
                  <dd>
                    <ng-container *ngIf="userInfoService.ApplicationControl?.useReceiptSection==1">
                      <label class="labelWrap">
                        <div class="inputStyled">
                          <input class="inputStyled__input"
                            id="cbxUseReceiptSectionCtrl" 
                            formControlName="cbxUseReceiptSectionCtrl" 
                            name="cbxUseReceiptSectionCtrl" 
                            (change)="setCbxUseReceiptSection($event.type)"
                            type="checkbox">
                          <label class="inputStyled__checkbox" for="cbxUseReceiptSectionCtrl">入金部門対応マスターを使用</label>
                        </div>
                      </label>
                    </ng-container>
                  </dd>
                </ng-template>
              </dl>
            </div>
            <div class="contents__item--w-55">
              <dl class="definitionForm--lh-narrow">
                <dt class="definitionForm__title w--15">請求部門コード</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="departmentCodeFromCtrl"
                    name="departmentCodeFromCtrl"
                    (keyup.enter)="setDepartmentCodeFrom($event.type)"
                    (blur)="setDepartmentCodeFrom($event.type)"
                    #departmentCodeFromInput
                    [formControl]="departmentCodeFromCtrl" 
                    [matAutocomplete]="autoDepartmentCodeFrom"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.departmentCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoDepartmentCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let department of departmentFilterds[0] | async" 
                      [value]="department.code">{{department.code}}:{{department.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_DEPARTMENT,'from')"></a>
                  <input
                    formControlName="departmentNameFromCtrl"
                    name="departmentNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--15">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxDepartmentCtrl" 
                        formControlName="cbxDepartmentCtrl" 
                        name="cbxDepartmentCtrl" 
                        (change)="setCbxDepartment($event.type)"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxDepartmentCtrl"></label>
                    </div>
                  </span>
                </dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="departmentCodeToCtrl"
                    name="departmentCodeToCtrl"
                    (keyup.enter)="setDepartmentCodeTo($event.type)"
                    (blur)="setDepartmentCodeTo($event.type)"
                    #departmentCodeToInput
                    [formControl]="departmentCodeToCtrl" 
                    [matAutocomplete]="autoDepartmentCodeTo"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.departmentCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoDepartmentCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let department of departmentFilterds[1] | async" 
                      [value]="department.code">{{department.code}}:{{department.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_DEPARTMENT,'to')"></a>
                  <input
                    formControlName="departmentNameToCtrl"
                    name="departmentNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--15">担当者コード</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="staffCodeFromCtrl"
                    name="staffCodeFromCtrl"
                    (keyup.enter)="setStaffCodeFrom($event.type)"
                    (blur)="setStaffCodeFrom($event.type)"
                    #staffCodeFromInput
                    [formControl]="staffCodeFromCtrl" 
                    [matAutocomplete]="autoStaffCodeFrom"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.staffCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoStaffCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let staff of staffFilterds[0] | async" 
                      [value]="staff.code">{{staff.code}}:{{staff.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_STAFF,'from')"></a>
                  <input
                    formControlName="staffNameFromCtrl"
                    name="staffNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--15">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxStaffCtrl" 
                        formControlName="cbxStaffCtrl" 
                        name="cbxStaffCtrl" 
                        (change)="setCbxStaff($event.type)"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxStaffCtrl"></label>
                    </div>
                  </span>
                </dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="staffCodeToCtrl"
                    name="staffCodeToCtrl"
                    (keyup.enter)="setStaffCodeTo($event.type)"
                    (blur)="setStaffCodeTo($event.type)"
                    #staffCodeToInput
                    [formControl]="staffCodeToCtrl" 
                    [matAutocomplete]="autoStaffCodeTo"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.staffCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoStaffCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let staff of staffFilterds[1] | async" 
                      [value]="staff.code">{{staff.code}}:{{staff.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_STAFF,'to')"></a>
                  <input
                    formControlName="staffNameToCtrl"
                    name="staffNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--15">得意先コード</dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="customerCodeFromCtrl"
                    name="customerCodeFromCtrl"
                    (keyup.enter)="setCustomerCodeFrom($event.type)"
                    (blur)="setCustomerCodeFrom($event.type)"
                    #customerCodeFromInput
                    [formControl]="customerCodeFromCtrl" 
                    [matAutocomplete]="autoCustomerCodeFrom"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoCustomerCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let customer of customerFilterds[0] | async" 
                      [value]="customer.code">
                      {{customer.code}}:{{customer.name}}
                    </mat-option>
                  </mat-autocomplete>                  
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER,'from')"></a>
                  <input
                    formControlName="customerNameFromCtrl"
                    name="customerNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--15">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxCustomerCtrl" 
                        formControlName="cbxCustomerCtrl" 
                        name="cbxCustomerCtrl" 
                        (change)="setCbxCustomer()"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxCustomerCtrl"></label>
                    </div>
                  </span>
                </dt>
                <dd class="definitionForm__data w--85">
                  <input
                    formControlName="customerCodeToCtrl"
                    name="customerCodeToCtrl"
                    (keyup.enter)="setCustomerCodeTo($event.type)"
                    (blur)="setCustomerCodeTo($event.type)"
                    #customerCodeToInput
                    [formControl]="customerCodeToCtrl" 
                    [matAutocomplete]="autoCustomerCodeTo"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete 
                    #autoCustomerCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option 
                      *ngFor="let customer of customerFilterds[1] | async" 
                      [value]="customer.code">
                      {{customer.code}}:{{customer.name}}
                    </mat-option>
                  </mat-autocomplete>                  
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER,'to')"></a>
                  <input
                    formControlName="customerNameToCtrl"
                    name="customerNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
              </dl>
            </div>
            <div class="contents__buttonGroup">
              <button 
                (click)="buttonAction(BUTTON_ACTION.SEARCH)" 
                [ngClass]="{'button-disable': myFormGroup.invalid}" 
                class="buttonSecondary">
                {{ItemNameConst.BTN_SEARCH}}
              </button>
              <button 
                (click)="clear();processResultService.clearProcessCustomMsg(processCustomResult)" 
                class="buttonMinimum">
                {{ItemNameConst.BTN_CLEAR}}
              </button>
            </div>
          </div>
        </section>
      </ng-template>
    </mat-expansion-panel>


    <!---検索結果-->
    <section class="contents">
      <h2 class="contents__title--underline-slim">{{ItemNameConst.LBL_RESULT_SEARCH}}</h2>
        <div class="common-inner-table">
          <table>
            <thead>
              <tr>
                <th class="{{TableColumn.COL_50_CODE}}"></th>
                <th class="{{TableColumn.COL_100_CODE}}">請求ID</th>
                <th class="{{TableColumn.COL_100_CODE}}">入力ID</th>
                <th class="{{TableColumn.COL_100_CODE}}">請求書番号</th>
                <th class="{{TableColumn.COL_100_CODE}}">得意先コード</th>
                <th class="{{TableColumn.COL_150_CODE}}">得意先名</th>
                <th class="{{TableColumn.COL_100_CODE}}">請求締日</th>
                <th class="{{TableColumn.COL_100_CODE}}">当初予定日</th>
                <th class="{{TableColumn.COL_150_CODE}}">入金予定日</th>
                <th class="{{TableColumn.COL_150_CODE}}">入金予定額</th>
                <th class="{{TableColumn.COL_100_CODE}}">当初区分</th>
                <th class="{{TableColumn.COL_130_CODE}}">回収区分</th>
              </tr>
            </thead>
            <tbody class="searchResult__tableHeight--9999">
              <tr *ngFor="let billing of billingDueAtModifyResults?.billings index as i">
                <td class="{{TableColumn.COL_50_CENTER_NAME}}">{{ i + 1 }}</td>
                <td class="{{TableColumn.COL_100_CENTER_NAME}}">{{billing.id}}</td>
                <td class="{{TableColumn.COL_100_RIGHT_NAME}}">{{billing.billingInputId}}</td>
                <td class="{{TableColumn.COL_100_NAME}}">{{billing.invoiceCode}}</td>
                <td class="{{TableColumn.COL_100_CENTER_NAME}}">{{billing.customerCode}}</td>
                <td class="{{TableColumn.COL_150_NAME}}">{{billing.customerName}}</td>
                <td class="{{TableColumn.COL_100_CENTER_NAME}}">{{billing.closingAt|date:'yyyy/MM/dd'}}</td>
                <td class="{{TableColumn.COL_100_CENTER_NAME}}">{{billing.originalDueAt|date:'yyyy/MM/dd'}}</td>
                <td class="{{TableColumn.COL_150_CENTER_NAME}}">
                  <input
                    formControlName="detailDueAtCtrl{{i}}"
                    name="detailDueAtCtrl{{i}}"
                    (keyup.enter)="setDetailDueAt($event.type,i)"
                    (dateSelect)="setDetailDueAt($event.type,i)"
                    (blur)="setDetailDueAt($event.type,i)"
                    ngbDatepicker #detailDueAtDp="ngbDatepicker"
                    placeholder="{{PlaceHolderConst.INPUT_DAY}}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="detailDueAtDp.toggle()"
                    type="button">
                  </button>
                </td>
                <td class="{{TableColumn.COL_SMALL_KINGAKU}}">{{''+billing.targetAmount|currency_pipe}}</td>
                <td class="{{TableColumn.COL_100_NAME}}">{{billing.originalCollectCategoryCode}}:{{billing.originalCollectCategoryName}}</td>
                <td class="{{TableColumn.COL_130_CENTER_NAME}}">
                  <input
                    formControlName="detailCollectCategoryCodeCtrl{{i}}"
                    name="detailCollectCategoryCodeCtrl{{i}}"
                    (focus)="initDetailCollectCategoryCode(i)"
                    (keyup.enter)="setDetailCollectCategoryCode($event.type,i)"
                    (blur)="setDetailCollectCategoryCode($event.type,i)"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    type="tel"
                    class="input-size--90">
                    <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_COLLECT_CATEGORY,null,i)"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>
  </section>
</div>