<div class="login">
    <div class="login__form">
      <h1 class="login__form__title">
        <img src="/assets/image/logo_full_color.png" alt="V-ONE クラウド" class="login__form__title__img">
      </h1>
  
        <div class="login__form__input-items">
          <div class="login__form__input-item">
            <input class="login__form__input-item--admin-code" type="text" placeholder="メールアドレスを入力してください。" />
          </div>
          <div class="login__form__input-item">
            <input class="login__form__input-item--admin-code" type="text" placeholder="確認用のメールアドレスを入力してください。" />
          </div>
          <div class="login__form__input-item">
            <input class="login__form__input-item--password" type="password" placeholder="新しいパスワードを入力してください。" />
          </div>
          <div class="login__form__input-item">
            <input class="login__form__input-item--password" type="password" placeholder="確認用の新しいパスワードを入力してください。" />
          </div>
          <button class="button--w100-login" (click)="send()">送信</button>
        </div>
  
  
    </div>
  
    <app-com0201-footer></app-com0201-footer>
  </div>
  