<div [formGroup]="myFormGroup" class="form-data-search">
  
  <section class="contentsButton">

    <div class="contentsButton__inner">

      <!--- 処理結果の表示 -->
      <app-parts-result-message [processCustomResult]="processCustomResult"></app-parts-result-message>

      <button 
        (click)="panelOpenState=!panelOpenState;panelOpenState?panel.open():panel.close();"
        class="buttonPrimary">
        {{panelOpenState?ItemNameConst.BTN_ADD_HIDDEN:ItemNameConst.BTN_ADD_SEARCH}}</button>
    
      <div class="contentsButton__subSection">
        <ul class="separator">
          <li class="separator__item">
            <button
              (click)="openFromSettingModal()"
              [ngClass]="{'button-disable': !(billingAgingListsResult==null || billingAgingListsResult.billingAgingLists.length==0)}"
              class="buttonPrimary infotip">
              {{ItemNameConst.BTN_SETTING_OUTPUT}}
              <span
                [innerHtml]="ButtonTipsConst.OUTPUT_CONTENT_SETTING | safeHtml_pipe"
                class="infotip__frame"></span>
            </button>
          </li>
          <li class="separator__item">
              <button 
              [ngClass]="{'button-disable':myFormGroup.invalid}"
              class="buttonPrimary infotip"
              (click)="buttonAction(BUTTON_ACTION.PRINT)">
              {{ItemNameConst.BTN_EXPORT_EXCEL}}
              <span [innerHtml]="ButtonTipsConst.EXCEL_EXPORT | safeHtml_pipe" class="infotip__frame"></span>
            </button>
            <button 
              [ngClass]="{'button-disable':(billingAgingListsResult==null || billingAgingListsResult.billingAgingLists.length==0)}"
              class="buttonPrimary infotip"
              (click)="buttonAction(BUTTON_ACTION.EXPORT)">
              {{ItemNameConst.BTN_EXPORT_CSV}}
              <span [innerHtml]="ButtonTipsConst.CSV_EXPORT | safeHtml_pipe" class="infotip__frame"></span>
            </button>
          </li>
        </ul>
      </div>     

    </div>
  </section>

  <section class="pageContainer">

    <!---照会条件-->
    <mat-expansion-panel
      #panel
      [hideToggle]="true">
      <ng-template matExpansionPanelContent>
        <section [ngClass]="!panelOpenState ? 'contents--hidden' : 'contents--visible'">

          <h2 class="contents__title--underline">
            {{ItemNameConst.LBL_SETTING_INQUIRY}}
          </h2>

          <div class="accordionContent__body contents__container--flex">
            <div class="contents__item--w-50">
              <dl class="definitionForm">
                <dt class="definitionForm__title w--17">処理月<span class="must_have_icon">{{ItemNameConst.LBL_REQUIRED}}</span></dt>
                <dd class="definitionForm__data w--83">
                  <input
                    formControlName="baseMonthCtrl"
                    name="baseMonthCtrl"
                    #baseMonthCtrl
                    [matDatepicker]="pickerBaseMonthCtrl"
                    (keyup.enter)="setBaseMonth($event.type)"
                    placeholder="{{PlaceHolderConst.INPUT_DAY_MONTH}}"
                    [ngClass]="{'input--error': myFormGroup.controls.baseMonthCtrl.errors?.matDatepickerParse}"
                    maxlength="10"
                    type="tel"
                    class="input-size--100">
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerBaseMonthCtrl">
                    <mat-icon
                      class="iconCalendar"
                      matDatepickerToggleIcon></mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #pickerBaseMonthCtrl
                    startView="year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, pickerBaseMonthCtrl, 'baseDateFrom')">
                  </mat-datepicker>
                  <br>
                  <div
                    class="message-result font__warning"
                    *ngIf="myFormGroup.controls.baseMonthCtrl.errors?.matDatepickerParse">
                    {{ MSG_VAL.DATE_MONTH }}
                  </div>
                </dd>
                <dt class="definitionForm__title w--17">残高タイプ</dt>
                <dd class="definitionForm__data w--55">
                  <div class="inputStyled">
                    <input 
                      id="rdoRemainTypeCtrl_01" 
                      formControlName="rdoRemainTypeCtrl" 
                      name="rdoRemainTypeCtrl"
                      (change)="setRdoRemainType($event.type)"
                      class="inputStyled__input"
                      type="radio"
                      value="0">
                    <label class="inputStyled__radio" for="rdoRemainTypeCtrl_01">会計帳簿の締日残高</label>
                  </div>
                  <div class="inputStyled">
                    <input 
                      id="rdoRemainTypeCtrl_02" 
                      formControlName="rdoRemainTypeCtrl" 
                      name="rdoRemainTypeCtrl"
                      (change)="setRdoRemainType($event.type)"
                      class="inputStyled__input"
                      type="radio"
                      value="1">
                    <label class="inputStyled__radio" for="rdoRemainTypeCtrl_02">得意先ごとの締日残高</label>
                  </div>  
                </dd>
                <dt class="definitionForm__title">締日
                  <span
                    *ngIf="closingDateCtrl.enabled"
                    class="must_have_icon">{{ItemNameConst.LBL_REQUIRED}}</span></dt>
                <dd class="definitionForm__data w--15">
                  <input
                    type="text"
                    formControlName="closingDateCtrl"
                    name="closingDateCtrl"
                    (keyup.enter)="setClosingDate($event.type)"
                    type="tel"
                    maxlength="2"
                    class="input-size--50">
                </dd>
                <dt class="definitionForm__title w--17">請求部門コード</dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="departmentCodeFromCtrl"
                    name="departmentCodeFromCtrl"
                    (keyup.enter)="setDepartmentCodeFrom($event.type)"
                    (blur)="setDepartmentCodeFrom($event.type)"
                    #departmentCodeFromInput
                    [formControl]="departmentCodeFromCtrl"
                    [matAutocomplete]="autoDepartmentCodeFrom"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.departmentCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoDepartmentCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let department of departmentFilterds[0] | async"
                      [value]="department.code">
                      {{department.code}}:{{department.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_DEPARTMENT,'from')"></a>
                  <input
                    formControlName="departmentNameFromCtrl"
                    name="departmentNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--17">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxDepartmentCtrl" 
                        formControlName="cbxDepartmentCtrl" 
                        name="cbxDepartmentCtrl" 
                        (change)="setCbxDepartment($event.type)"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxDepartmentCtrl"></label>
                    </div>
                  </span>
                </dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="departmentCodeToCtrl"
                    name="departmentCodeToCtrl"
                    (keyup.enter)="setDepartmentCodeTo($event.type)"
                    (blur)="setDepartmentCodeTo($event.type)"
                    #departmentCodeToInput
                    [formControl]="departmentCodeToCtrl"
                    [matAutocomplete]="autoDepartmentCodeTo"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.departmentCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoDepartmentCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let department of departmentFilterds[1] | async"
                      [value]="department.code">
                      {{department.code}}:{{department.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_DEPARTMENT,'to')"></a>
                  <input
                    formControlName="departmentNameToCtrl"
                    name="departmentNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
              </dl>
            </div>
            <div class="contents__item--w-50">
              <dl class="definitionForm">
                <dt class="definitionForm__title w--17">担当者コード</dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="staffCodeFromCtrl"
                    name="staffCodeFromCtrl"
                    (keyup.enter)="setStaffCodeFrom($event.type)"
                    (blur)="setStaffCodeFrom($event.type)"
                    #staffCodeFromInput
                    [formControl]="staffCodeFromCtrl"
                    [matAutocomplete]="autoStaffCodeFrom"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.staffCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoStaffCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let staff of staffFilterds[0] | async"
                      [value]="staff.code">
                      {{staff.code}}:{{staff.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_STAFF,'from')"></a>
                  <input
                    formControlName="staffNameFromCtrl"
                    name="staffNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--17">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxStaffCtrl" 
                        formControlName="cbxStaffCtrl" 
                        name="cbxStaffCtrl" 
                        (change)="setCbxStaff($event.type)"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxStaffCtrl"></label>
                    </div>
                  </span>
                </dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="staffCodeToCtrl"
                    name="staffCodeToCtrl"
                    (keyup.enter)="setStaffCodeTo($event.type)"
                    (blur)="setStaffCodeTo($event.type)"
                    #staffCodeToInput
                    [formControl]="staffCodeToCtrl"
                    [matAutocomplete]="autoStaffCodeTo"
                    type="tel"
                    maxlength="{{userInfoService.ApplicationControl?.staffCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoStaffCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let staff of staffFilterds[1] | async"
                      [value]="staff.code">
                      {{staff.code}}:{{staff.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_STAFF,'to')"></a>
                  <input
                    formControlName="staffNameToCtrl"
                    name="staffNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--17">得意先コード</dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="customerCodeFromCtrl"
                    name="customerCodeFromCtrl"
                    (keyup.enter)="setCustomerCodeFrom($event.type)"
                    (blur)="setCustomerCodeFrom($event.type)"
                    #customerCodeFromInput
                    [formControl]="customerCodeFromCtrl"
                    [matAutocomplete]="autoCustomerCodeFrom"
                    maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoCustomerCodeFrom="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let customer of customerFilterds[0] | async"
                      [value]="customer.code">
                      {{customer.code}}:{{customer.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER,'from')"></a>
                  <input
                    formControlName="customerNameFromCtrl"
                    name="customerNameFromCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <dt class="definitionForm__title w--17">
                  <span class="end-checkbox">
                    <div class="inputStyled">
                      <input class="inputStyled__input"
                        id="cbxCustomerCtrl" 
                        formControlName="cbxCustomerCtrl" 
                        name="cbxCustomerCtrl" 
                        (change)="setCbxCustomer()"
                        type="checkbox">
                      <label class="inputStyled__checkbox" for="cbxCustomerCtrl"></label>
                    </div>
                  </span>                  
                </dt>
                <dd class="definitionForm__data w--80">
                  <input
                    formControlName="customerCodeToCtrl"
                    name="customerCodeToCtrl"
                    (keyup.enter)="setCustomerCodeTo($event.type)"
                    (blur)="setCustomerCodeTo($event.type)"
                    #customerCodeToInput
                    [formControl]="customerCodeToCtrl"
                    [matAutocomplete]="autoCustomerCodeTo"
                    maxlength="{{userInfoService.ApplicationControl?.customerCodeLength}}"
                    placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                    class="input-size--110">
                  <mat-autocomplete
                    #autoCustomerCodeTo="matAutocomplete"
                    [panelWidth]="PanelConst.autocompleteWidth300">
                    <mat-option
                      *ngFor="let customer of customerFilterds[1] | async"
                      [value]="customer.code">
                      {{customer.code}}:{{customer.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CUSTOMER,'to')"></a>
                  <input
                    formControlName="customerNameToCtrl"
                    name="customerNameToCtrl"
                    class="input-size--250"
                    readonly>
                </dd>
                <ng-container *ngIf="userInfoService.ApplicationControl?.useForeignCurrency==1">
                  <dt class="definitionForm__title w--20">通貨コード</dt>
                  <dd class="definitionForm__data w--80">
                    <input
                      formControlName="currencyCodeCtrl"
                      name="currencyCodeCtrl"
                      (blur)="setCurrencyCode($event.type)"
                      (keyup.enter)="setCurrencyCode($event.type)"
                      type="tel"
                      maxlength="3"
                      placeholder="{{PlaceHolderConst.F9_SEARCH}}"
                      class="input-size--100">
                      <a class="buttonMasterSearch" (click)="openMasterModal(TABLE_INDEX.MASTER_CURRENCY,'')"></a>
                  </dd>
                </ng-container>
              </dl>
            </div>
            <div class="contents__buttonGroup">
              <button
                (click)="buttonAction(BUTTON_ACTION.SEARCH)"
                [ngClass]="{'button-disable': myFormGroup.invalid}"
                class="buttonSecondary infotip">
                {{ItemNameConst.BTN_INQUIRY}}
                <span
                  [innerHtml]="ButtonTipsConst.INQUIRY | safeHtml_pipe"
                  class="infotip__frame"></span>
              </button>
              <button
                (click)="clear();processResultService.clearProcessCustomMsg(processCustomResult)"
                class="buttonMinimum">{{ItemNameConst.BTN_CLEAR}}</button>
            </div>
          </div>
        </section>
      </ng-template>
    </mat-expansion-panel>


    <!-- 照会結果 -->
    <section class="contents">
      <h2 class="contents__title--underline-slim">{{ItemNameConst.LBL_RESULT_INQUIRY_RESULT}}</h2>
      <div class="contents__container--flex">
        <div class="contents__item--w-25">
          <dl class="definitionForm">
            <dt class="definitionForm__title w--21">基準値</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispSelectedBaseDateCtrl"
                class="input-size--150"
                readonly>
            </dd>
            <dt class="definitionForm__title w--21">担当者計</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispSubTotalStaffCtrl"
                class="input-size--100"
                readonly>
            </dd>
          </dl>
        </div>
        <div class="contents__item--w-25">
          <dl class="definitionForm">
            <dt class="definitionForm__title w--21">部門計</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispSubTotalDepartmentCtrl"
                class="input-size--100"
                readonly>
            </dd>
          </dl>
        </div>
        <div class="contents__item--w-25">
          <dl class="definitionForm">
            <dt class="definitionForm__title w--25">担当者集計</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispStaffSelectionCtrl"
                class="input-size--150"
                readonly>
            </dd>
            <dt class="definitionForm__title w--25">得意先集計</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispCustomerGroupCtrl"
                class="input-size--150"
                readonly>
            </dd>
          </dl>
        </div>
        <div class="contents__item--w-25">
          <dl class="definitionForm">
            <dt class="definitionForm__title w--25">請求残計算</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispAdvanceReceiptTypeCtrl"
                class="input-size--150"
                readonly>
            </dd>
            <dt class="definitionForm__title w--25">金額単位</dt>
            <dd class="definitionForm__data w--75">
              <input
                formControlName="dispUnitPriceCtrl"
                class="input-size--150"
                readonly>
            </dd>
          </dl>
        </div>
      </div>
      <div class="contents__container">
        <div class="common-inner-table--noHighlights">
          <table>
            <thead>
              <tr>
                <th class="{{TableColumn.COL_50_CODE}}"></th>
                <th class="{{TableColumn.COL_150_CODE}}">得意先コード</th>
                <th class="{{TableColumn.COL_280_CODE}}">得意先名</th>
                <th class="{{TableColumn.COL_200_CODE}}">前月請求額</th>
                <th class="{{TableColumn.COL_200_CODE}}">当月売上高</th>
                <th class="{{TableColumn.COL_200_CODE}}">当月入金</th>
                <th class="{{TableColumn.COL_200_CODE}}">当月消込</th>
                <th class="{{TableColumn.COL_200_CODE}}">当月請求残</th>
                <th class="{{TableColumn.COL_200_CODE}}">{{getDisplayMonth(0)}}月発生額</th>
                <th class="{{TableColumn.COL_200_CODE}}">{{getDisplayMonth(-1)}}月発生額</th>
                <th class="{{TableColumn.COL_200_CODE}}">{{getDisplayMonth(-2)}}月発生額</th>
                <th class="{{TableColumn.COL_200_CODE}}">{{getDisplayMonth(-3)}}月発生額</th>
              </tr>
            </thead>
            <tbody class="searchResult__tableHeight--9999">
              <tr *ngFor="let billingAgingLists of billingAgingListsResult?.billingAgingLists index as i">
                <ng-container *ngIf="billingAgingLists.recordType==0;">
                  <td class="line-number {{TableColumn.COL_50_CODE}}">{{i+1}}</td>
                  <td class="{{TableColumn.COL_150_NAME}}">{{billingAgingLists.customerCode}}</td>
                  <td class="{{TableColumn.COL_280_NAME}}">{{getCustomerName(billingAgingLists)}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.lastMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.currentMonthSales|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.currentMonthReceipt|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.currentMonthMatching|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.currentMonthRemain|currency_pipe}}</td>
                  <td (click)="detailAgingList(i,0)" class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.monthlyRemain0|currency_pipe}}</td>
                  <td (click)="detailAgingList(i,1)" class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.monthlyRemain1|currency_pipe}}</td>
                  <td (click)="detailAgingList(i,2)" class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.monthlyRemain2|currency_pipe}}</td>
                  <td (click)="detailAgingList(i,3)" class="{{TableColumn.COL_KINGAKU}}">{{billingAgingLists.monthlyRemain3|currency_pipe}}</td>
                </ng-container>

                <ng-container *ngIf="billingAgingLists.recordType==1;">
                  <td class="line-number {{TableColumn.COL_50_CODE}} searchResult__tableCell--staffTotal">{{i+1}}</td>
                  <td class="{{TableColumn.COL_150_NAME}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.staffCode}}</td>
                  <td class="{{TableColumn.COL_280_NAME}} searchResult__tableCell--staffTotal">
                    {{getCustomerName(billingAgingLists)}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.lastMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.currentMonthSales|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.currentMonthReceipt|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.currentMonthMatching|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.currentMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.monthlyRemain0|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.monthlyRemain1|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.monthlyRemain2|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--staffTotal">
                    {{billingAgingLists.monthlyRemain3|currency_pipe}}</td>
                </ng-container>

                <ng-container *ngIf="billingAgingLists.recordType==2;">
                  <td class="line-number {{TableColumn.COL_50_CODE}} searchResult__tableCell--departTotal">{{i+1}}</td>
                  <td class="{{TableColumn.COL_150_NAME}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.departmentCode}}</td>
                  <td class="{{TableColumn.COL_280_NAME}} searchResult__tableCell--departTotal">
                    {{getCustomerName(billingAgingLists)}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.lastMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.currentMonthSales|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.currentMonthReceipt|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.currentMonthMatching|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.currentMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.monthlyRemain0|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.monthlyRemain1|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.monthlyRemain2|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--departTotal">
                    {{billingAgingLists.monthlyRemain3|currency_pipe}}</td>
                </ng-container>

                <ng-container *ngIf="billingAgingLists.recordType==3;">
                  <td class="line-number {{TableColumn.COL_50_CODE}} searchResult__tableCell--grandTotal">{{i+1}}</td>
                  <td class="{{TableColumn.COL_150_NAME}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.customerCode}}</td>
                  <td class="{{TableColumn.COL_280_NAME}} searchResult__tableCell--grandTotal col-align-right">総合計</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.lastMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.currentMonthSales|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.currentMonthReceipt|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.currentMonthMatching|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.currentMonthRemain|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.monthlyRemain0|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.monthlyRemain1|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.monthlyRemain2|currency_pipe}}</td>
                  <td class="{{TableColumn.COL_KINGAKU}} searchResult__tableCell--grandTotal">
                    {{billingAgingLists.monthlyRemain3|currency_pipe}}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>

</div>